* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
  align-items: center;
}
ul li a {
  text-decoration: none;
  display: flex;
}
.container {
  display: flex;
  justify-content: space-around;
  background-color: #89cca9;
  height: 10vh;
  gap: 5px;
  align-items: center;
  font-size: 25px;
}
.mune {
  display: flex;
  gap: 3vw;
}
.drowpDown {
  display: none;
  width: 14vw;
  width: 11vw;
  border: none;
  text-align: left;
  padding-bottom: 25px;
}
#drop:hover .drowpDown {
  position: absolute;
  top: 55px;
  display: flex;
  flex-direction: column;
  background-color: #89cca9;
  gap: 15px;
}
button {
  padding: 0 10px;
  height: 5vh;
  box-shadow: 3px 4px 0px 2px, 3px 4px 0 0px;
  border: solid;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 70%;
}
a:hover {
  color: rgb(228, 208, 21);
}
